PORT=3000
BASE_URL=http://localhost:3000
LINK4M_API_KEY=THAY_BANG_KEY_MOI
JWT_SECRET=TAO_CHUOI_BI_MAT_DAI_DE_KY_TOKEN
KEY_HASH_SECRET=TAO_CHUOI_HMAC_BI_MAT_DE_MA_HOA_KEY
DATABASE_PATH=./src/database/database.db
